$general-offset: 15px;

html, body {
  min-height: 100%;
  min-width: 100%;
}

.main-window-container {
  margin-left: 210px;
  padding: $general-offset;
}

.channel-container {
  .big-input {
    position:fixed;
    height:38px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    padding-left: 210px;
    width: 100%;

    form, input, .send {
      border-radius: 0 !important;
    }

    form, input {
      width: 100%;
    }
  }
}
