<template name="NewChannelModal">
  <div class="ui modal new-channel-modal">
    <div class="header">Create a New Channel</div>

    <div class="content">
      <p>
        {{#autoForm collection='Messages'
                     id='new-channel-form'
                     type='insert'
                     buttonContent=false}}
        {{> afQuickField name='channelName' placeholder="It types something here"}}
        {{> afQuickField name='userName' hidden=true value='replace-me' label=false}}
        {{> afQuickField name='body' hidden=true value='replace-me' label=false}}
        {{/autoForm}}
      </p>
    </div>

    <div class="actions">
      <div class="ui blue button create-channel-btn">Create</div>
      <div class="ui button close-create-channel-modal">Cancel</div>
    </div>
  </div>
</template>
