<template name="SideBar">
  <div class="ui visible inverted left vertical sidebar menu accordian">
    <a class="item">
      <i class="send icon"></i>
      blah
    </a>
    <a class="item">
      <i class="settings icon"></i>
      Settings
    </a>
    <a class="item">
      <i class="comment icon"></i>
      Channels
    </a>
    <div class="item channel">
      #general
    </div>
    <div class="item channel">
      #nsfl
    </div>
    <div class="item channel">
      #pugs
    </div>
    <div class="item channel">
      #gossip
    </div>
    <div class="item channel">
      #marketing
    </div>
  </div>
</template>
